.coin {
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-right: 0.1em;
  background-image: url('/img/coin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}