$tierColor1: lightslategrey;
$tierColor2: green;
$tierColor3: navy;
$tierColor4: magenta;
$tierColor5: gold;

$xp-bg: #3A7393;
$refresh-bg: #857347;

%text-outline {
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

%icon-bg {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

%hero-bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

%ui-border {
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-image: 
    linear-gradient(
      -45deg, 
      #205257, 
      #103435
    ) 1 25%;
}

%ui-border-gold {
    border-style: solid;
    border-width: 6px;
    border-radius: 3px;
    border-image: 
    linear-gradient(
      to bottom,      
      #725C31, 
      #42361D
    ) 1 25%;
}

%ui-border-gold-upper {
    border-style: solid;
    border-width: 6px;
    border-radius: 3px;
    border-image: 
    linear-gradient(
      to bottom, 
      #816C34, 
      #725C31
    ) 1 25%;
}

%fancy-border {
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  /* background: linear-gradient(orange, violet); */
  background-clip: padding-box;
  padding: 10px;
  /* just to show box-shadow still works fine */
  box-shadow: 0 3px 9px black, inset 0 0 9px white;
}

%fancy-border--after {
  position: absolute;
  top: -4px; bottom: -4px;
  left: -4px; right: -4px;
  background: linear-gradient(#816C34, #725C31);
  content: '';
  z-index: -1;
  border-radius: 16px;
}