$tierColor1: #152431;
$tierColor2: #13352C;
$tierColor3: #1B1F47;
$tierColor4: #470D4A;
$tierColor5: #644008;

$xp-bg: #3A7393;
$refresh-bg: #857347;

$goldLight: #907C37;
$goldMedium:  #816C34;
$goldDark: #725C31;

$health-bg: #E72C29;
$ui-filler-dark: #151921;
$tooltipTitleFG: #ECDA97;

$tier-gold: #CEB35B;
$tier-silver: silver;
$tier-bronze: #8C654A;
$tier-grey: #575757;

$tftPrimary: #205257;
$tftPrimaryDarker: #103435;

%text-outline {
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

%icon-bg {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@mixin hexagon {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
}

@mixin trapezoid {
  clip-path: polygon(25% 0%, 75% 0%, 100% 100%, 0% 100%);
}

@mixin hero-bg() {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin ui-border($colorA: #205257, $colorB: #103435) {
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-image: 
    linear-gradient(
      to bottom, 
      $colorA, 
      $colorB
    ) 1 25%;
}


@mixin ui-border-gold-upper() {
  border-style: solid;
  border-width: 6px;
  border-radius: 3px;
  border-image: 
  linear-gradient(
    to bottom, 
    $goldLight, 
    $goldMedium
  ) 1 25%;
}

@mixin ui-border-gold() {
    border-style: solid;
    border-width: 6px;
    border-radius: 3px;
    border-image: 
    linear-gradient(
      to bottom,      
      $goldMedium, 
      $goldDark
    ) 1 25%;
}


@keyframes upgradeTier {
  0% {
    filter: brightness(1);
    transform: scale(1);
  }
  50% {
    filter: brightness(3);
    transform: scale(1.1);
  }
  100% {
    filter: brightness(1);
    transform: scale(1);
  }
}