@import '../../styles/colors';

.champ-card {
    border: 3px solid black;
    border-radius: 3px;
    flex: 1;
    height: 8em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(-5px -5px 5px rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.champ-card.champ-cost-1 {
    border-color: $tierColor1;
}
.champ-card.champ-cost-2 {
    border-color: $tierColor2;
}
.champ-card.champ-cost-3 {
    border-color: $tierColor3;
}
.champ-card.champ-cost-4 {
    border-color: $tierColor4;
}
.champ-card.champ-cost-5 {
    border-color: $tierColor5;
}

.champ-card .hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    background: black;
    color: white;
    padding: 0.5em;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.champ-card .banner {
    display: flex;
    padding: 0.5em;
    color: white;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
}

.champ-card .banner .name {
    flex: 1;
    text-align: left;
}

.champ-card .banner .cost {
    justify-self: flex-end;
    text-align: end;
    width: 2em;
}

.banner-cost-1 {
    background-color: $tierColor1;
}

.banner-cost-2 {
    background-color: $tierColor2;
}

.banner-cost-3 {
    background-color: $tierColor3;
}

.banner-cost-4 {
    background-color: $tierColor4;
}

.banner-cost-5 {
    background-color: $tierColor5;
}