.draft {
    padding: 0.5em;
    display: flex;
    margin-top: 2em;
}

.draft-area {
    border: 2px solid grey;
    position: relative;
}

.above-bar {
    position: absolute;
    top: -2.5em;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid grey;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.draft-sidebar {
    flex: 1;
    display: flex;
    flex-direction: column;

    border-right: none;
    border-bottom-left-radius: 3px;
}

.draft-sidebar-items {
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    flex: 1;
    border:2px solid;
    margin: 0.5em;
}

.draft-lock {
    padding: 0.5em;
}

.draft-main {
    flex: 4;
    border-left:none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.draft-gold-bar {
    padding: 0.5em;
}

.draft-gold {
}

.hand {
    display: flex;
    border: 2px solid;
    z-index: 1;
}