@import '../../styles/colors';

.bench {
    padding: 0.5em;
    display: flex;
}

.bench-slot {
    border: 2px solid white;
    border-radius: 5px;
    flex: 1;
    height: 5em;
    margin: 0.1em;

    &:not(.selected) {
        @include ui-border();
    }

    &.selected {
        @include ui-border($goldLight, $goldMedium);
    }
}
 
.champion {
    background-color: black;
    color: white;
    @extend %text-outline;
    @extend %hero-bg;
    height: 100%;
    text-align: center;

    .champion-tier {
        font-size: 1.5em;
        // color: goldenrod;
    }        
}
