@mixin image-contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@keyframes oscillate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5%);
    }
    100% {
        transform: translateY(0%);
    }
}

.splash {
    height: 100%;
    width: 100%;
    padding: 1em;
    background-image: url('./bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3em;
    position: relative;
    text-align: center;
    color: #9e6c36;
    overflow-y: auto;
    
    .island {
        @include image-contain();
        background-image: url('./island.png');
        position: absolute;
        z-index: 10;
        top: 0;
        bottom: 10%;
        left: 0;
        right: 0;
        animation: oscillate 4s infinite ease-in-out;
    }

    &> .inner {
        // @include image-contain();
        // background-image: url('./island.png');
        position: absolute;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;

        & > * {
            flex: 1;
            margin: 0;
            padding: 0;
        }
    }

    .tft-logo {
        @include image-contain();
        background-image: url('./tft.png'), linear-gradient(
            to bottom,
            rgba(255,255,255,0.0),
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.8),
            rgba(255,255,255,0.8),
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.0),
        );
        width: 100%;
        min-height: 4em;
    }

    p {

    }

    .tft-end-cap {
        @include image-contain();
        background-image: url('./logo-end-cap.png');
        width: 100%;
        min-height: 4em;
    }

    &> .inner > .actions {
        display: flex;
        flex-direction: column;
        justify-content: space-around;    
        width: 50%;
        align-self: center;
        .action {
            height: 3em;
            border-color: #9e6c36;
            color: #9e6c36;
            margin-bottom: 1em;
            background-color: rgba(255,255,255,0.5);

            &:hover {
                background-color: rgba(255,255,255,1);
            }

            &.minor {
                font-size: 0.7em;
            }
        }
    }
}