.main-page {
    width: 100%;
    height: 100%;
}

.split {
    display: flex;

    .split-section {
        &.main {
            flex: 4;
        }

        &.aside {
            flex: 1;
        }
    }
}