@import "../../styles/colors";

.synergy-tier {
    margin-bottom: 2em;
    margin-left: 1em;
    position: relative;

    &:after {
        content: '';
        display: block;
        height: 0.5em;
        width: 0.5em;
        border: 0.125em solid $tier-gold;
        background-color: transparent;
        position: absolute;
        left: 0.25em;
        bottom: -1.375em;
        transform: rotate(45deg);
    }

    &:last-of-type:after{
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
    }
}

.synergy-item {
    border-radius: 5px;
    padding-left: 2em;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5em;
    height: 2em;
    position: relative;

    &.tier-1 {
        .icon {
            background-color: $tier-gold;
        }
    }
    &.tier-2 {
        .icon {
            background-color: $tier-silver;
        }
    }
    &.tier-3 {
        .icon {
            background-color: $tier-bronze;
        }
    }
    &.tier-4 {
        .icon {
            background-color: $tier-grey;
        }
    }

    .icon {
        position: absolute;
        left: -1em;
        top: -0.4em;
        height: 3em;
        width: 3em;
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

        img {
            margin-top: 12.5%;
            height: 75%;
            width: auto;
            mix-blend-mode: difference;
        }
    }

    @media screen and (max-width: 1023px) {
        .synergy-name { display: none }
    }
}

