@import '../../styles/colors';

section.simulation {
    display: flex;
    height: 100%;
    padding: 0.5em 0;
    margin: 0.5em 0.5em 0;
    .inner {
        padding: 0 0.5em 0.5em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }

    .level-section {
        opacity: 0.9;
        transition: opacity 0.2s;
        &.fade {
            opacity: 0;
        }
    }
}