@import '../../styles/colors';

section.simulation {
    display: flex;
    height: 100%;
    padding: 0.5em 0;
    margin: 0.5em 0.5em 0;
    .inner {
        padding: 0 0.5em;
        @include ui-border();
        border-left: 3px solid goldenrod;
    }
}