@import '../../styles/colors';

.champ-card {
    border: 3px solid black;
    border-radius: 3px;
    flex: 1;
    min-height: 9em;
    min-width: 9em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(-5px -5px 5px rgba(0,0,0,0.5));
    position: relative;
    user-select: none;

    &.blank {
        @include ui-border();
    }

    &.champ-cost-1 {
        border-color: $tierColor1;
        .decoration {
            background-image: none;
        }
    }
    &.champ-cost-2 {
        border-color: $tierColor2;
        .decoration {
            background-image: url('../../img/profile-deco/2.png');
        }
    }
    &.champ-cost-3 {
        border-color: $tierColor3;
        .decoration {
            background-image: url('../../img/profile-deco/3.png');
        }
    }
    &.champ-cost-4 {
        border-color: $tierColor4;
        .decoration {
            background-image: url('../../img/profile-deco/4.png');
        }
    }
    &.champ-cost-5 {
        border-color: $tierColor5;
        .decoration {
            background-image: url('../../img/profile-deco/5.png');
        }
    }
    
    .decoration {
        position: absolute;
        top: 0%;
        width: 100%;
        height: 25%;
        z-index: 100;
        background-repeat: no-repeat;
        background-position: top center;
    }

    .hero {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: left;
        background-color: black;
        color: white;
        padding: 0.5em;
        @extend %text-outline;
        @include hero-bg();
    } 
        
    .banner .cost img {
        display: inline-block;
        height: 1em;
        vertical-align: middle;
        margin-right: 0.1em;
    }
   
}

.champ-card .banner {
    display: flex;
    padding: 0.5em;
    color: white;
    @extend %text-outline;
}

.champ-card .banner .name {
    flex: 1;
    text-align: left;
}

.champ-card .banner .cost {
    justify-self: flex-end;
    text-align: end;
    width: 2em;
}

.banner-cost-1 {
    background-color: $tierColor1;
}

.banner-cost-2 {
    background-color: $tierColor2;
}

.banner-cost-3 {
    background-color: $tierColor3;
}

.banner-cost-4 {
    background-color: $tierColor4;
}

.banner-cost-5 {
    background-color: $tierColor5;
}