@import './styles/colors';

#root, .app, main {
  height: 100%;
  width: 100%;
}

.app {
  text-align: center;
  background-color: #282c34;
  color: white;
  @extend %text-outline;
  font-family: Beaufort;
}

button {
  font-family: Beaufort;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.2em;
  background-color: transparent;
  color: white;
  @extend %text-outline;
}

.a11y, .hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

@font-face {
  font-family: 'Beaufort';
  src: local('Beatfort'), url(./BeaufortBold.woff) format('woff');
}